<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	
</head>

<body>

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="index.html">
								<img src="assets/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="/">Home</a>
									{{!-- <ul class="sub-menu">
										<li><a href="/">Static Home</a></li>
										<li><a href="/user/slider">Slider Home</a></li>
									</ul> --}}
								</li>
								<li><a href="#">About</a></li>
								<li><a href="#">Pages</a>
									{{!-- <ul class="sub-menu">
										<li><a href="#">404 page</a></li>
										<li><a href="#">About</a></li>
										<li><a href="/cart">Cart</a></li>
										<li><a href="#">Check Out</a></li>
										<li><a href="#">Contact</a></li>
										<li><a href="#">News</a></li>
										<li><a href="/user/shop">Shop</a></li>
									</ul> --}}
								</li>
								{{!-- <li><a href="#">News</a>
									<ul class="sub-menu">
										<li><a href="#">News</a></li>
										<li><a href="#">Single News</a></li>
									</ul>
								</li> --}}
								<li><a href="#">Contact</a></li>
								<li><a href="/user/shop">Shop</a>
									{{!-- <ul class="sub-menu">
										<li><a href="/user/shop">Shop</a></li>
										<li><a href="#">Check Out</a></li>
										<li><a href="#">Single Product</a></li>
										<li><a href="#">Cart</a></li>
									</ul> --}}
								</li>
								{{#if User}}
								<li><a href="/users-logout">Logout</a></li>
								{{else}}
								<li><a href="/users-login">Login</a></li>
								{{/if}}
								<li>

									<div class="header-icons">
										<a href="/WhishList"><i class="fa-regular fa-heart"></i></a>
										<a class="shopping-cart" href="/cart"><i class="fas fa-shopping-cart"></i><span
												class="badge badge-light"
												style="position: relative; left: -5px; top: -15px; border-radius: 7px; ">{{count}}</span></a>
										          <a href="/user/profile"><i style="color: aliceblue;"
												class="fa-regular fa-circle-user ms-1"></i></a>
                                                <a id="search-icon" class="mobile-hide search-bar-icon"
											onclick="toggleSearchBar()"><i class="fas fa-search" style="color: rgb(255, 255, 255);" ></i></a>

										<form id="search-form" class="hidden-form" onkeyup="sendData(this)">
											<input type="text" placeholder="Search..."
												style="height: 40px; width: 300px;">
										</form>

										<section id="searchResult" style="background-color: rgb(255, 255, 255);">
										</section>

										
									</div>
								</li>
							</ul>
						</nav>
						{{!-- <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a> --}}
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>