{{>adminHeader}}
     {{#editcategorydata}}
     <form  action="/admin/admin-editcategory/{{_id}}" method="post"  class="form-inline">
  <div class="form-group mb-2" style="padding: 0rem 14rem 4rem 7rem;" >
    <label for="staticEmail2" class="sr-only">Email</label>
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only"></label>
    <input type="text" name="category" class="form-control" id="inputPassword2" placeholder="Category Name" value="{{category}}" >
  </div>
  <button type="submit" class="btn btn-primary mb-2">Edit Category</button>
</form>
{{/editcategorydata}}
<table id="example" class="table table-striped table-bordered" style="width:100%">
	
	<!-- jquery -->
	<script src="/assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="/assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="/assets/js/main.js"></script>

</body>
</html> 