{{>adminHeader}}
	<!-- jquery -->
	<div class="container">
  <form action="/admin/admin-category" method="post" class="form-inline justify-content-center">
    <div class="form-group mx-sm-3 mb-2 mt-2 ">
      <label for="inputPassword2" class="sr-only">Category Name</label>
      <input type="text" name="category" class="form-control" id="inputPassword2" placeholder="Category Name">
    </div>
    <button type="submit" class="btn btn-primary mb-2 mt-2">Add Category</button>
    <p class="text-danger text-center w-100">{{CategoryExisterr}}</p>
  </form>
</div>


	<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="table-responsive">
				<table id="example" class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>Category</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						{{#viewcategory}}
						<tr>
							<td>{{category}}</td>
							<td>
								<a href="/admin/admin-editcategory/{{_id}}" class="btn btn-primary">Edit</a>
								<a href="/admin/deletecategory/{{_id}}" class="btn btn-danger"
									onclick="return confirm('Are you sure to delete the data?')">Delete</a>
							</td>
						</tr>
						{{/viewcategory}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>



	<script src="/assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="/assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="/assets/js/main.js"></script>
     
	 <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script>
	$(document).ready(function() {
		$('#example').DataTable();
	});
</script>

	
    

</body>

</html>