<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Change Password</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
			background-color: #f2f2f2;
		}

		.container {
			max-width: 600px;
			margin: 0 auto;
			padding: 20px;
			background-color: #fff;
			border-radius: 5px;
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
		}

		.form-group {
			margin-bottom: 20px;
		}

		label {
			display: block;
			margin-bottom: 5px;
			font-weight: bold;
		}

		input[type="password"] {
			display: block;
			width: 100%;
			padding: 10px;
			font-size: 16px;
			border-radius: 5px;
			border: 1px solid #ccc;
			box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.1);
		}

		button[type="submit"] {
			background-color: #ff8c00;
			color: #fff;
			padding: 10px 20px;
			font-size: 16px;
			border: none;
			border-radius: 25px;
			cursor: pointer;
		}

		button[type="submit"]:hover {
			background-color: #ff7b00;
		}

		@media screen and (max-width: 768px) {
			.container {
				padding: 10px;
			}
		}

	</style>
</head>
<body>

	<div class="container">
		<h2>Change Password</h2>
		<form action="/createNewPassword" method="post">
			<div class="form-group">
				<label for="current-password">Current Password</label>
				<input type="password" id="current-password" name="currentpassword">
			</div>
			<div class="form-group">
				<label for="new-password">New Password</label>
				<input type="password" id="new-password" name="newpassword" >
			</div>
			<div class="form-group">
				<label for="confirm-password">Confirm New Password</label>
				<input type="password" id="confirm-password" name="confirmpassword" >
			</div>
			<button type="submit">Save Changes</button>
		</form>
<p class="text-danger text-center" >{{changePassworderr}}</p>
	</div>

</body>
</html>
