<!DOCTYPE html>
<html lang="en">
<head>
	<title>Fruitkha</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/user login/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user login/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user login/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/user login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/ser login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user login/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/user login/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user login/css/util.css">
	<link rel="stylesheet" type="text/css" href="/user login/css/main.css">
<!--===============================================================================================-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100" style="background: -webkit-linear-gradient(top, #000000, #000000);">
				<form class="login100-form" oninput="loginerrdisplay()" onsubmit="return loginvalidation()" action="/setForPass" method="post" id="login_form" name="login" >
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Change Password
					</span>
					<p class="text-danger" id="passworderror" ></p>
					<div class="wrap-input100 " data-validate="Enter password">
						<input class="input100" type="password" name="NewPassword" id="NewPassword" value="{{data.password}}" placeholder=" New Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>
                    <div class="wrap-input100 " data-validate="Enter password">
						<input class="input100" type="password" name="ConfirmPassword" id="confirmPassword" value="{{data.password}}" placeholder=" confirm Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>
				
                                     <p class=" text-center  mb-3" style="color: red;">{{setPasserr}}</p>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Login
						</button>
					</div>

					
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/user login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/user login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/endor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/user login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/user login/vendor/daterangepicker/moment.min.js"></script>
	<script src="/user login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/user login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/user login/js/main.js"></script>
    <script src="javascripts/login.js"></script>

</body>
</html>