{{>userHeader}}

	<div class="container rounded bg-white mt-5 mb-5 p-5 " >
		<div class="row">
			<div class="col-md-3 border-right" style="position: relative;left: 35%;" >
				<div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
						width="150px"
						src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
						class="font-weight-bold"></span>{{userProfile.name}}<span
						class="text-black-50"></span>{{userProfile.email}}<span> </span></div>
				<div class="text-center"  >
					
				</div>
				

			</div>
			
			<div class="row">
						<div class="col-sm-12">
							<div class="card mt-4">
								<div class="card-body">
									<img src="/images/wallet-with-money-on-a-white-background-free-vector.jpg" style="width: 150px;">
									<p>Wallet Amount:₹{{userProfile.wallet}}</p>
									
								</div>
							</div>
						</div>
					</div>

			<div class="col-md-5 border-right">
				<div class="p-3 py-5">
					<div class="d-flex justify-content-between align-items-center mb-3">
						<h4 class="text-right">Add Address</h4>
						<form action="/multiaddress" method="post" >
					</div>
					<div class="row mt-2">
						<div class="col-md-6"><label class="labels">Fullname</label><input type="text"
								class="form-control" name="fullname" placeholder="first name"></div>
						<div class="col-md-6"><label class="labels">Lastname</label><input type="text"
								class="form-control" name="lastname" placeholder="lastname"></div>
					</div>
					<div class="row mt-3">
						<div class="col-md-12"><label class="labels">Email</label><input type="text"
								class="form-control" name="email" placeholder="Enter Email Address"></div>
						<div class="col-md-12"><label class="labels">Address</label><input type="text"
								class="form-control" name="address" placeholder="Address"></div>
						<div class="col-md-12"><label class="labels">Phone</label><input type="text"
								class="form-control" name="phone" placeholder="Phone"></div>
								<div class="col-md-12"><label class="labels">Pin <code></code></label><input type="text"
								class="form-control" name="pincode" placeholder="PIN CODE"></div>
						<div class="col-md-12"><label class="labels">State</label><input type="text"
								class="form-control" name="state" placeholder="State"></div>
						<div class="col-md-12"><label class="labels">City</label><input type="text" class="form-control"
								placeholder="City" name="city"></div>
						<div class="col-md-12"><label class="labels">Town</label><input type="text" class="form-control"
								placeholder="town" name="town"></div>

					</div>
					
					<div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save
							Address</button></div>
				</div>
				</form>

			</div>
			
			<div class="col-md-4">
                <hr class="my-4">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><i class="fa-solid fa-address-book me-3 fs-4 text-primary"></i><a
                                        href="/showAddress" style="text-decoration: none;color: black;">Address
                                        Book</a></h6>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><i
                                        class="fa-sharp fa-solid fa-cart-shopping me-3 fs-5 text-success"></i><a
                                        href="/orders" style="text-decoration: none;color: black;">My Orders</a></h6>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><i class="fa-solid fa-heart me-3 fs-5 text-danger"></i><a
                                        href="/WhishList" style="text-decoration: none;color: black;">Wish List</a></h6>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0"><i class="fa-solid fa-key  me-3 fs-5 text-secondary"></i><a
                                        href="/ChangePassword"
                                        style="text-decoration: none;color: black;">Change Password</a></h6>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-1"><i class="fa-solid fa-right-from-bracket me-3 fs-5 text-dark"></i><a
                                        href="/users-logout" style="text-decoration: none;color: black;">Logout</a></h6>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

				
			</div>
		</div>
	</div>
	</div>
	</div>
	

	<!-- check out section -->
	<div class="checkout-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-accordion-wrap">
						

					</div>
				</div>

				
							</tbody>
						</table>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end check out section -->


	<!-- footer -->
	{{>userFooter}}