.dashboard-small-box{
    /* background-color: blue; */
    align-items: center;
    display: flex;
    background-color: rgb(249, 249, 249);
    /* border: rgb(220, 220, 220) 1px solid; */
    border-radius: 15px;
    transition: 1s;
  }
  .dashboard-small-box:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .icon-border{
    border-radius: 10px;
  }
  
  /* Sales report */
  .sales-report ul{
    padding-left: 0;
    margin-bottom: -1rem;
  }
  